<link rel="stylesheet" href="/css/change-password.css" />

<section class="container forms">
	<div class="form login">
		<div class="form-content">
			<h1>Reset Password</h1>
			<form action="/change-forgot-password" method="POST">
				<div hidden class="field input-field">
					<input
						type="email"
						placeholder="Email"
						name="email"
						class="email"
						value="<%= email %>"
						required
					/>
				</div>
				<div hidden class="field input-field">
					<input
						type="text"
						placeholder="token"
						name="token"
						class="email"
						value="<%= token %>"
						required
					/>
				</div>
				<div class="field input-field">
					<input
						type="password"
						placeholder="New password"
						name="newPassword"
						class="password"
						required
					/>
				</div>
				<div class="field input-field">
					<input
						type="password"
						placeholder="Confirm new password"
						name="confirmNewPassword"
						class="password"
						required
					/>
				</div>
				<div class="field button-field">
					<button>Change Password</button>
				</div>
			</form>
		</div>
	</div>
</section>
