<link rel="stylesheet" href="/css/forgot-password.css" />

<section class="container forms">
	<div class="form login">
		<div class="form-content">
			<h1>Forgot Password?</h1>
			<form action="/forgot-password" method="POST">
				<div class="field input-field">
					<input
						type="email"
						placeholder="Email"
						name="email"
						class="input"
						required
					/>
				</div>
				<div class="field button-field">
					<button>Reset Password</button>
				</div>
			</form>
			<div class="form-link">
				<span
					>Don't have an account?
					<a href="/sign-up" class="link signup-link">Signup</a></span
				>
			</div>
		</div>
	</div>
</section>
