<link rel="stylesheet" href="/css/login.css" />

<section class="container forms">
	<div class="form login">
		<div class="form-content">
			<h1>Login</h1>
			<form action="/create-session" method="POST">
				<div class="field input-field">
					<input type="email" placeholder="Email" name="email" class="input" />
				</div>
				<div class="field input-field">
					<input
						type="password"
						placeholder="Password"
						name="password"
						class="password"
					/>
					<i class="bx bx-hide eye-icon"></i>
				</div>
				<div class="form-link">
					<a href="#" class="forgot-pass">Forgot password?</a>
				</div>
				<div class="field button-field">
					<button>Login</button>
				</div>
			</form>
			<div class="form-link">
				<span
					>Don't have an account?
					<a href="/sign-up" class="link signup-link">Signup</a></span
				>
			</div>
		</div>
		<div class="line"></div>
		<div class="media-options">
			<a href="#" class="field google">
				<img src="/images/google.png" alt="google" class="google-img" />
				<span>Login with Google</span>
			</a>
		</div>
	</div>
</section>
