<link rel="stylesheet" href="/css/reset-password.css" />

<section class="container forms">
	<div class="form login">
		<div class="form-content">
			<h1>Reset Password</h1>
			<form action="/create-session" method="POST">
				<div class="field input-field">
					<input
						type="password"
						placeholder="Current password"
						name="currentPassword"
						class="password"
					/>
				</div>
				<div class="field input-field">
					<input
						type="password"
						placeholder="New password"
						name="newPassword"
						class="password"
					/>
				</div>
				<div class="field input-field">
					<input
						type="password"
						placeholder="Confirm new password"
						name="confirmNewPassword"
						class="password"
					/>
				</div>
				<div class="form-link">
					<a href="#" class="forgot-pass">Forgot password?</a>
				</div>
				<div class="field button-field">
					<button>Change Password</button>
				</div>
			</form>
		</div>
	</div>
</section>
