<link rel="stylesheet" href="/css/sign-up.css" />

<section class="container forms">
	<div class="form signup">
		<div class="form-content">
			<h1>Signup</h1>
			<form id="sign-up-form" action="/create" method="POST">
				<div class="field input-field">
					<input
						type="email"
						name="email"
						placeholder="Email"
						class="input"
						id="email"
						required
					/>
				</div>
				<div class="field input-field">
					<input
						type="password"
						name="password"
						placeholder="Create password"
						class="password"
						id="password"
						required
					/>
				</div>
				<div class="field input-field">
					<input
						type="password"
						name="confirmPassword"
						placeholder="Confirm password"
						class="password"
						id="confirm-password"
						required
					/>
				</div>
				<div class="field button-field">
					<button type="submit">Signup</button>
				</div>
			</form>
			<div class="form-link">
				<span
					>Already have an account?
					<a href="/login" class="link login-link">Login</a></span
				>
			</div>
		</div>
		<div class="line"></div>
		<div class="media-options">
			<a href="#" class="field google">
				<img src="/images/google.png" alt="google" class="google-img" />
				<span>Login with Google</span>
			</a>
		</div>
	</div>
</section>
